
[data-theme="light"] {
    --primary-color: #FFFFFF
    --secondary-color: #F5F5F5;
    --tertiary-color: #D3D3D3;

    --text-primary-color: #000000;
    --text-secondary-color: #555555;

    --accent-color: #0288D1;
    --highlight-color: #03A9F4;
}

[data-theme="dark"] {
    --primary-color: #121212;
    --secondary-color: #1E1E1E;

    --text-primary-color: #FFFFFF;
    --text-secondary-color: #B0B0B0;

    --accent-color: #0288D1;
    --highlight-color: #03A9F4;
}

body {
    margin: 0;

    background-color: var(--primary-color);
    color: var(--text-primary-color);

    font-family: 'Fira Code', monospace;
}

a:link {
    text-decoration: none;
    color: var(--accent-color)
}

a:visited {
    color: var(--accent-color);
}

header {
    margin: 5% 25% 0 25%;

    display: grid;
    gap: 0 1rem;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "picture info theme"
        "picture info theme"
        "picture social theme";
}

main {
    margin: 0 25%;
}

main section {
    padding: 1rem;

    border-left: 0.5rem solid var(--secondary-color);
}

footer {
    padding: 1rem 25%;

    background-color: var(--secondary-color);

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        "troubles icons"
        "signature signature";
}

.card {
    padding: 1rem;

    border-radius: 2rem;
    background-color: var(--secondary-color);
}

#profile-picture {
    grid-area: picture;
    
    margin: auto;

    width: 70%;
    height: 70%;

    border-radius: 100%;
    border: 0.5rem solid var(--accent-color);

    transition: 1s ease-in-out;
}

#profile-picture:hover {
    border: 0.5rem solid var(--highlight-color);

    transform: translateY(-0.5rem);
}

#info {
    grid-area: info;
}

#info p {
    color: var(--text-secondary-color)
}

#social {
    grid-area: social;
}

#theme {
    grid-area: theme;

    margin: 2rem 2rem auto auto;
}

#theme-button {
    cursor: pointer;
}

#education p {
    color: var(--text-secondary-color);
}

#troubles {
    grid-area: troubles;
}

#icons {
    grid-area: icons;
    
    margin-left: auto;
}

#signature {
    grid-area: signature;

    padding-top: 1rem;
}
