
[data-theme="light"] {
    --primary-color: #F0F4F8;
    --secondary-color: #E3E8F1;

    --text-primary-color: #212121;
    --text-secondary-color: #616161;

    --accent-color: #0288D1;
    --highlight-color: #03A9F4;
}

[data-theme="dark"] {
    --primary-color: #121212;
    --secondary-color: #1E1E1E;

    --text-primary-color: #FFFFFF;
    --text-secondary-color: #B0B0B0;

    --accent-color: #0288D1;
    --highlight-color: #03A9F4;
}

body {
    margin: 2rem 0 0 0;

    background-color: var(--primary-color);
    color: var(--text-primary-color);

    font-family: 'Fira Code', monospace;
}

a:link {
    text-decoration: none;
    color: var(--accent-color);

    transition: 1s ease-in-out;
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--highlight-color);
}

header {
    margin: 0 auto;
    max-width: 750px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    margin: 0 auto;
    max-width: 750px;
}

main section {
    padding: 1rem;

    position: relative;

    border-left: 0.5rem solid var(--secondary-color);

    transition: 1s ease-in-out;
}

main section:hover {
   border-left: 0.5rem solid var(--accent-color);
}

footer {
    padding: 1rem;

    background-color: var(--secondary-color);
}

footer section {
    margin: 1rem auto;
    max-width: 750px;
}

.card {
    padding: 2rem;

    border-radius: 2rem;
    background-color: var(--secondary-color);
}

#profile-picture {    
    width: 10rem;
    height: 10rem;

    border-radius: 100%;
    border: 0.5rem solid var(--accent-color);

    transition: 1s ease-in-out;
}

#profile-picture:hover {
    border: 0.5rem solid var(--highlight-color);

    transform: translateY(-0.5rem);
}

#info p {
    color: var(--text-secondary-color)
}

#education p {
    color: var(--text-secondary-color);
}

@media (max-width: 900px) {
    header {
        margin: 0 2rem;
        max-width: initial;

        flex-direction: column;
    }

    main {
        margin: 0 2rem;
        max-width: initial;
    }

    footer section {
        margin: 0 2rem;
        max-width: initial;
    }
}
