
[data-theme="light"] {
    --primary-color: #F0F4F8;
    --secondary-color: #E3E8F1;

    --text-primary-color: #212121;
    --text-secondary-color: #616161;

    --accent-color: #0288D1;
    --highlight-color: #03A9F4;
}

[data-theme="dark"] {
    --primary-color: #121212;
    --secondary-color: #1E1E1E;

    --text-primary-color: #FFFFFF;
    --text-secondary-color: #B0B0B0;

    --accent-color: #0288D1;
    --highlight-color: #03A9F4;
}

html {
    height: 100vh;
}

body {
    height: 100%;

    margin: 0;

    background-color: var(--primary-color);
    color: var(--text-primary-color);

    font-family: 'Fira Code', monospace;

    display: flex;
    flex-direction: column;
}

a:link {
    text-decoration: none;
    color: var(--accent-color);

    transition: 1s ease-in-out;
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    color: var(--highlight-color);
}

header {
    margin: 2rem auto 0 auto;
    width: 750px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    margin: 0 auto;
    width: 750px;

    flex-grow: 1;
}

footer {
    margin-top: 1rem;
    padding: 1rem;

    background-color: var(--secondary-color);
}

footer section {
    margin: 1rem auto;
    width: 750px;
}

.card {
    padding: 2rem;

    border-radius: 2rem;
    background-color: var(--secondary-color);
}

.project {
    padding: 0 2rem;
    
    border-radius: 5%;
    border-left: 0.5rem solid var(--secondary-color);

    transition: 1s ease-in-out;
}

.project:hover {
   border-left: 0.5rem solid var(--accent-color);

   ul li {
    color: var(--highlight-color);
   }

   p {
    opacity: 1;
   }
}

.project ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

.project ul li {
    display: inline;
    
    color: var(--text-secondary-color);

    transition: 1s ease-in-out;
}

.project p {
    color: var(--text-secondary-color);
    opacity: 0.5;

    transition: 1s ease-in-out;
}

#profile-picture {    
    width: 10rem;
    height: 10rem;

    border-radius: 100%;
    border: 0.5rem solid var(--accent-color);

    transition: 1s ease-in-out;
}

#profile-picture:hover {
    border: 0.5rem solid var(--highlight-color);

    transform: translateY(-0.5rem);
}

#info p {
    color: var(--text-secondary-color)
}

#education p {
    color: var(--text-secondary-color);
}

#education section {
    padding: 1rem;

    border-left: 0.5rem solid var(--secondary-color);

    transition: 1s ease-in-out;
}

#education section:hover {
   border-left: 0.5rem solid var(--accent-color);
}

@media (max-width: 900px) {
    header {
        margin: 2rem 2rem 0 2rem;
        width: auto;

        flex-direction: column;

        text-align: center;
    }

    main {
        margin: 0 2rem;
        width: auto;
    }

    footer section {
        margin: 0 2rem;
        width: auto;

        text-align: center;
    }
}
